/* header style */
#contentHead {
    display: flex;
    border-bottom:solid;
    border-color: lightgray;
    border-width: 1px;
    background-color: lightgray;
    border-radius: 0 0 10px 10px;
    box-shadow: gray 0 2px 10px;
    margin: 0 0 0 10px;
}

.headItem:first-child {
    width: 30px;
    height: 40px;
    margin: 5px 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.headItem:not(:first-child) {
    margin: 5px 10px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 20px;
    font-size: 20px;
    border-style: none;
    transition: 0.3s;
}

.headItem:hover {
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}

.checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
    top: 7px;
}

.space {
    flex: 1;
}

/* content style */
.content {
    height: 70vh;
    overflow-y: auto;
}

.mail {
    display: flex;
    gap: 15px;
    margin: 5px 0 0 10px;
    padding: 10px;
    border-radius: 10px;
}

.mail:hover {
    cursor: pointer;
    box-shadow: gray 0 0 10px;
}

.mail:hover .mailOptions {
    display: inline;
}

.mailCheck {
    margin: 0 0 0 20px;
}

.checkbox2 {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
    right: 20px;
    top: 4px;
}

.mailText {
    flex: 1;
}

.mailText , .mailSubject , .mailDate {
    padding: 5px 0;
}

.mailStar {
    background-color: transparent;
    border-style: none;
    border-radius: 15px;
    height: 30px;
}

.mailStar:hover {
    background-color: lightgray;
    cursor: pointer;
}

.mailOptions {
    display: none;
    margin: 0 5px;
    background-color: transparent;
    border-style: none;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.mailOptions:hover {
    cursor: pointer;
    background-color: lightgray;
}