#header {
    display: flex;
    border-bottom: solid;
    padding: 10px 0;
    border-width: 1px;
    border-color: gray;
  }
  
  .headerItem {
    background-color: transparent;
    border-style: none;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
    margin: 0 15px;
    transition: 0.3s;
    position: relative;
    display: inline-block;
  }
  
  .headerItem:hover {
    cursor: pointer;
    background-color: rgb(235, 235, 235);
  }
  
  .headerItem2 {
    width: 150px;
    text-align: left;
    font-size: 20px;
    background-color: transparent;
    border-style: none;
  }
  
  .headerItem2:hover {
    cursor: pointer;
  }
  
  .img {
    display: inline-block;
    padding:10px;
  }
  
  .gmail {
    display: inline-block;
    position: absolute;
    margin: 15px 5px;
  }
  
  .searchIcon {
    position: relative;
    display: inline-block;
    left: 45px;
    top: 7px;
    width: 40px;
    border-radius: 20px;
    height: 40px;
    background-color: transparent;
    border-style: none;
    font-size: 15px;
    transition: 0.3s;
  }
  
  .searchIcon:hover , .searchSetting:hover {
    background-color: rgba(169, 169, 169, 0.3);
    cursor: pointer;
  }
  
  .searchBar {
    flex: auto;
    border-radius: 10px;
    background-color: rgb(221, 221, 221);
    border-style: none;
    padding: 0 45px;
    transition: 0.3s;
  }
  
  .searchBar:focus {
    outline: none;
    background-color: lightblue;
  }
  
  .searchBar::placeholder {
    color: black;
    font-size: 15px;
  }
  
  .searchSetting {
    position: relative;
    display: inline-block;
    right: 45px;
    top: 7px;
    width: 40px;
    border-radius: 20px;
    height: 40px;
    background-color: transparent;
    border-style: none;
    font-size: 15px;
    transition: 0.3s;
  }
  
  .headerProfile {
    background-color: transparent;
    border-style: none;
    border-radius: 30px;
    padding: 0;
  }
  
  .headerProfile:hover {
    cursor: pointer;
  }

  @media only screen and (max-width: 800px) {
    .img , .gmail , .headerProfile {
      display: none;
    }
  }

  /* tooltip text style */
  .tooltiptext {
    visibility: hidden;
    opacity: 0;
    width: 80px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 90%;
    margin-left: -60px;
    font-size: 12px;
    transition: 0.3s;
    z-index: 200;
  }

  .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }

  .headerItem:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
    transition-delay: 0.3s;
  }

  .searchIcon:hover .tooltiptext , .searchSetting:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
    transition-delay: 0.3s;
  }

  .showSupport {
    background-color: rgb(235, 235, 235);
    color:rgb(46, 46, 46);
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 300;
    width: 230px;
    border-radius: 5px;
    top: 70px;
    right: 12%;
  }

  .showSupport div {
    padding: 10px 20px;
    margin: 5px 0;
  }

  .showSupport div:hover {
    background-color: lightgray;
    cursor: pointer;
  }

  .showSupport div:nth-child(4) {
    padding: 15px 20px;
    margin: 5px 0;
    border-top: solid lightgray 1px;
  }