#header {
    display: flex;
    /* border-bottom: solid; */
    padding: 10px 0;
    border-width: 1px;
    border-color: gray;
  }
  
  .headerItem {
    background-color: transparent;
    border-style: none;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
    margin: 0 15px;
    transition: 0.3s;
    position: relative;
    display: inline-block;
  }
  
  .headerItem:hover {
    cursor: pointer;
    background-color: rgb(235, 235, 235);
  }
  
  .headerItem2 {
    width: 150px;
    text-align: left;
    font-size: 20px;
    background-color: transparent;
    border-style: none;
  }
  
  .headerItem2:hover {
    cursor: pointer;
  }
  
  .img {
    display: inline-block;
    padding:10px;
  }
  
  .gmail {
    display: inline-block;
    position: absolute;
    margin: 15px 5px;
    transition: 0.3s;
  }
  
  .searchIcon {
    position: relative;
    display: inline-block;
    left: 45px;
    top: 7px;
    width: 40px;
    border-radius: 20px;
    height: 40px;
    background-color: transparent;
    border-style: none;
    font-size: 15px;
    transition: 0.3s;
  }
  
  .searchIcon:hover , .searchSetting:hover {
    background-color: rgba(169, 169, 169, 0.3);
    cursor: pointer;
  }
  
  .searchBar {
    flex: auto;
    border-radius: 10px;
    background-color: rgb(221, 221, 221);
    border-style: none;
    padding: 0 45px;
    transition: 0.3s;
  }
  
  .searchBar:focus {
    outline: none;
    background-color: lightblue;
  }
  
  .searchBar::placeholder {
    color: black;
    font-size: 15px;
  }
  
  .searchSetting {
    position: relative;
    display: inline-block;
    right: 45px;
    top: 7px;
    width: 40px;
    border-radius: 20px;
    height: 40px;
    background-color: transparent;
    border-style: none;
    font-size: 15px;
    transition: 0.3s;
  }
  
  .headerProfile {
    background-color: transparent;
    border-style: none;
    border-radius: 30px;
    padding: 0;
  }
  
  .headerProfile:hover {
    cursor: pointer;
  }

  @media only screen and (max-width: 800px) {
    .img , .gmail , .headerProfile {
      display: none;
    }
  }

  /* tooltip text style */
  .tooltiptext {
    visibility: hidden;
    opacity: 0;
    width: 80px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 90%;
    margin-left: -60px;
    font-size: 12px;
    transition: 0.3s;
    z-index: 200;
  }

  .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }

  .headerItem:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
    transition-delay: 0.3s;
  }

  .searchIcon:hover .tooltiptext , .searchSetting:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
    transition-delay: 0.3s;
  }

  .showSupport {
    background-color: rgb(255, 255, 255);
    color:rgb(46, 46, 46);
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 300;
    width: 230px;
    border-radius: 5px;
    top: 70px;
    right: 12%;
    box-shadow: gray 0 0 2px;
  }

  .showSupport div {
    padding: 10px 20px;
    margin: 5px 0;
  }

  .showSupport div:hover {
    background-color: lightgray;
    cursor: pointer;
  }

  .showSupport div:nth-child(4) {
    padding: 15px 20px;
    margin: 5px 0;
    border-top: solid lightgray 1px;
  }


  /* toggle switch */
  /* container */
  .showSettings {
    display: flex;
    position: absolute;
    gap: 10px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    justify-content: center;
    height: 80px;
    border-radius: 5px;
    align-items: center;
    right: 7%;
    top: 80px;
    box-shadow: gray 0 0 2px;
    transition: 0.3s;
  }

  .showSettings div {
    transition: 0.3s;
  }

  /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.input:checked + .slider {
  background-color: #2196F3;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* profile show more style */
.showProfile {
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  right: 1%;
  top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  box-shadow: gray 0 0 2px;
}

.showProfile div:first-child {
  flex-shrink: 0;
}

.showProfile div {
  margin: 5px 0;
}

.showProfile button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border-style: solid;
  border-color: dodgerblue;
  border-width: 1px;
  margin: 5px 0;
  background-color: transparent;
  transition: 0.3s;
}

.showProfile button:hover {
  background-color: gray;
  color: white;
}