#nav {
    display: flex;
    flex-direction: column;
    background-color: rgb(169, 169, 169);
    width: 80px;
    padding: 20px 0;
    transition: 0.2s;
    border-radius: 10px;
    box-shadow: rgb(128, 128, 128) 5px 5px 50px;
    margin: 0;
    position: absolute;
    z-index: 10;
  }
  
  #wide {
    display: flex;
    flex-direction: column;
    background-color: rgb(169, 169, 169);
    width: 260px;
    padding: 20px 0;
    border-radius: 10px;
    box-shadow: rgb(128, 128, 128) 5px 5px 50px;
    margin: 0;
  }

  #wide .span, #wide .spanCompose {
    display: inline;
    opacity: 1;
  }

  #wide .compose {
    padding: 0 100px 9px 0;
    transition: 0s;
  }

  #nav:hover {
    width: 260px;

  }

  #nav:hover .span, #nav:hover .spanCompose {
    display: inline;
    opacity: 1;
  }
  
  #nav:hover .compose {
    padding: 0 100px 9px 0;
  }
  
  .items {
    height: 45px;
    border-style: none;
    background-color: transparent;
    text-align: left;
    padding: 0 0 0 11px;
    font-size: 20px;
    transition: 0.3s;
    border-radius: 25px;
    margin: 5px 15px;
    flex-shrink: 0;
  }
  
  .items:hover {
    background-color: rgb(211, 211, 211);
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  
  .items:active {
    background-color: rgb(128, 128, 128);
    color: rgb(255, 255, 255);
  }
  
  .items:focus {
    background-color: rgb(30, 144, 255);
    color: rgb(255, 255, 255);
  }
  
  .span {
    opacity: 0;
    position: absolute;
    padding: 6px 0 0 10px;
    font-size: 15px;
    font-weight: bold;
    transition: 0.2s;
    width: 200px;
  }

  .spanCompose {
    opacity: 0;
    position: absolute;
    padding: 6px 0 0 10px;
    font-size: 15px;
    font-weight: bold;
    transition: 0.2s;
  }
  
  .compose {
    font-size: 15px;
    margin: 0 15px;
    height: 50px;
    display: inline-block;
    border-radius: 25px;
    border-style: none;
    padding: 0 0 9px 0;
    cursor: pointer;
    transition: 0.2s;
    flex-shrink: 0;
  }

  .compose:hover {
    background-color: rgb(144, 238, 144);
  }
  
  .compose:active {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
  }
